# Python virtualenvs
venv
.venv

# Ansible stuff
*.retry

# I mark my own hosts files with this suffix
*.local

# My own local overrides.
**/group_vars/all.yml
#lockdown/group_vars/all.yml
#postfix-relay/group_vars/all.yml
