[centos]
# - Use sudo (don't ssh as root), and specify the user to ssh as.
# - Use a specific python interpreter
centos-host.example.com ansible_become=true ansible_user=myuser ansible_python_interpreter=/usr/bin/python3

[debian]
debian-host.example.com ansible_become=true ansible_user=myuser ansible_python_interpreter=/usr/bin/python3
