[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_listen_port }}
PrivateKey = {{ wireguard_private_key }}
PostUp = iptables -t nat -A POSTROUTING -o {{ wireguard_nat_device }} -j MASQUERADE; ip6tables -t nat -A POSTROUTING -o {{ wireguard_nat_device }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o {{ wireguard_nat_device }} -j MASQUERADE; ip6tables -t nat -D POSTROUTING -o {{ wireguard_nat_device }} -j MASQUERADE
{% for peer in wireguard_peers %}

[Peer]
PublicKey = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endfor %}
